###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
7 Seas/Library/ArtifactDB
7 Seas/Library/Bee/1300b0aE-inputdata.json
7 Seas/Library/Bee/1300b0aE.dag
7 Seas/Library/Bee/1300b0aE.dag_fsmtime
7 Seas/Library/Bee/artifacts/1300b0aE.dag/UnityEditor.TestRunner.dll
7 Seas/Library/Bee/artifacts/1300b0aE.dag/UnityEditor.UI.dll
7 Seas/Library/Bee/artifacts/1300b0aE.dag/UnityEditor.UI.dll.movedfrom
7 Seas/Library/Bee/artifacts/1300b0aE.dag/UnityEditor.UI.ref.dll
7 Seas/Library/Bee/artifacts/1300b0aE.dag/UnityEngine.TestRunner.dll
7 Seas/Library/Bee/artifacts/1300b0aE.dag/UnityEngine.TestRunner.ref.dll
7 Seas/Library/Bee/artifacts/1300b0aE.dag/UnityEngine.UI.dll
7 Seas/Library/Bee/artifacts/1300b0aE.dag/UnityEngine.UI.ref.dll
7 Seas/Library/Bee/profiler.json
7 Seas/Library/Bee/tundra.digestcache
7 Seas/Library/Bee/tundra.log.json
7 Seas/Library/Bee/TundraBuildState.state
7 Seas/Library/Bee/TundraBuildState.state.map
7 Seas/Library/SceneVisibilityState.asset
7 Seas/Library/ScriptAssemblies/Assembly-CSharp-Editor-firstpass.dll
7 Seas/Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
7 Seas/Library/ScriptAssemblies/Assembly-CSharp-firstpass.dll
7 Seas/Library/ScriptAssemblies/Assembly-CSharp.dll
7 Seas/Library/ScriptAssemblies/Cinemachine.dll
7 Seas/Library/ScriptAssemblies/com.unity.cinemachine.editor.dll
7 Seas/Library/ScriptAssemblies/Unity.2D.Sprite.Editor.dll
7 Seas/Library/ScriptAssemblies/Unity.2D.Tilemap.Editor.dll
7 Seas/Library/ScriptAssemblies/Unity.2D.Tilemap.Extras.dll
7 Seas/Library/ScriptAssemblies/Unity.2D.Tilemap.Extras.Editor.dll
7 Seas/Library/ScriptAssemblies/Unity.CollabProxy.Editor.dll
7 Seas/Library/ScriptAssemblies/Unity.PlasticSCM.Editor.dll
7 Seas/Library/ScriptAssemblies/Unity.ProBuilder.AddOns.Editor.dll
7 Seas/Library/ScriptAssemblies/Unity.ProBuilder.AssetIdRemapUtility.dll
7 Seas/Library/ScriptAssemblies/Unity.ProBuilder.Csg.dll
7 Seas/Library/ScriptAssemblies/Unity.ProBuilder.dll
7 Seas/Library/ScriptAssemblies/Unity.ProBuilder.Editor.dll
7 Seas/Library/ScriptAssemblies/Unity.ProBuilder.KdTree.dll
7 Seas/Library/ScriptAssemblies/Unity.ProBuilder.Poly2Tri.dll
7 Seas/Library/ScriptAssemblies/Unity.ProBuilder.Stl.dll
7 Seas/Library/ScriptAssemblies/Unity.Rider.Editor.dll
7 Seas/Library/ScriptAssemblies/Unity.Settings.Editor.dll
7 Seas/Library/ScriptAssemblies/Unity.TextMeshPro.dll
7 Seas/Library/ScriptAssemblies/Unity.TextMeshPro.Editor.dll
7 Seas/Library/ScriptAssemblies/Unity.Timeline.dll
7 Seas/Library/ScriptAssemblies/Unity.Timeline.Editor.dll
7 Seas/Library/ScriptAssemblies/Unity.VisualScripting.Core.dll
7 Seas/Library/ScriptAssemblies/Unity.VisualScripting.Core.Editor.dll
7 Seas/Library/ScriptAssemblies/Unity.VisualScripting.Flow.dll
7 Seas/Library/ScriptAssemblies/Unity.VisualScripting.Flow.Editor.dll
7 Seas/Library/ScriptAssemblies/Unity.VisualScripting.State.dll
7 Seas/Library/ScriptAssemblies/Unity.VisualScripting.State.Editor.dll
7 Seas/Library/ScriptAssemblies/Unity.VisualStudio.Editor.dll
7 Seas/Library/ScriptAssemblies/Unity.VSCode.Editor.dll
7 Seas/Library/ScriptAssemblies/UnityEditor.TestRunner.dll
7 Seas/Library/ScriptAssemblies/UnityEditor.UI.dll
7 Seas/Library/ScriptAssemblies/UnityEngine.Advertisements.DevX.Editor.dll
7 Seas/Library/ScriptAssemblies/UnityEngine.Advertisements.dll
7 Seas/Library/ScriptAssemblies/UnityEngine.Advertisements.Editor.dll
7 Seas/Library/ScriptAssemblies/UnityEngine.Monetization.dll
7 Seas/Library/ScriptAssemblies/UnityEngine.TestRunner.dll
7 Seas/Library/ScriptAssemblies/UnityEngine.UI.dll
7 Seas/Library/ScriptAssemblies/VSSettingsProvider.dll
7 Seas/Library/SourceAssetDB
7 Seas/Library/Style.catalog
7 Seas/Logs/shadercompiler-UnityShaderCompiler.exe0.log
7 Seas/Logs/shadercompiler-UnityShaderCompiler.exe1.log
7 Seas/Logs/shadercompiler-UnityShaderCompiler.exe2.log
7 Seas/Logs/shadercompiler-UnityShaderCompiler.exe3.log
7 Seas/Logs/shadercompiler-UnityShaderCompiler.exe4.log
7 Seas/Logs/shadercompiler-UnityShaderCompiler.exe5.log
7 Seas/Logs/shadercompiler-UnityShaderCompiler.exe6.log
7 Seas/Logs/shadercompiler-UnityShaderCompiler.exe7.log
